/* Custom CSS */

/******************************************************************
 Animation 
 *****************************************************************/
.fade-in {
    animation-name: fadeInAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


/******************************************************************
 Header 
 *****************************************************************/
  
.home-title{
	position:relative;
	top:10px;
	left:10px;
	font-size: 30px;
	font-family: "Helvetica Neue";
}